{% extends "layout.html" %}
{% block content %}
		<div class="content-section">
			<blockquote class="blockquote">
	       			<p class="mb-2 text-justify">Imagination is not only the uniquely human capacity to envision that which is not, and therefore the fount of all invention and innovation. In its arguably most transformative and revelatory capacity, it is the power to that enables us to empathize with humans whose experiences we have never shared.</p>
	  				<footer class="blockquote-footer"><cite title="Source Title">J. K. Rowling</cite></footer>
			</blockquote>
	    </div>
{% endblock content %}